@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "nunito", sans-serif;
}

.table{
    width: 100%;
}

.table_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(240, 240, 240);
}

.table_header p{
    color: black;
    font-size: 2rem;
}

button{
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    color: #ffffff;
}

td button:nth-child(1){
    background-color: #0F6292;
}

td button:nth-child(2){
    background-color: red;
}


.cari{
    padding: 10px 20px;
    color: #fff;
    background-color: #0F6292;
}

input{
    padding: 10px 20px;
    margin: 0 10px;
    outline: none;
    border: 1px solid #0F6292;
    border-radius: 6px;
    color: #0F6292;
}

.table_section{
    height: 650px;
    overflow: auto;
}

table{
    width: 100%;
    table-layout: fixed;
    min-width: 1000px;
    border-collapse: collapse;
}

thead th{
    position: sticky;
    top: 0;
    background-color: #0F6292;
    color: white;
    font-size: 15px;
}


tbody tr{
    height: 200px;
}

th,td{
    border-bottom: 1px solid #0F6292;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}


td img{
    width: 100px;
    height: auto;
    object-fit: cover;
}

tr:hover td{
    color: #0F6292;
    cursor: pointer;
    background-color: white;
}







::placeholder{
    color: #0F6292;
}

