@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');
:root{
    --green: #0F6292;
    --black: #192a56;
    --light-color: #666;
    --box-shadow:0 5rem 1.5rem rgba(0,0,0,.1);
    }
  
  *{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
  }
  
  
  
  html{
      font-size: 62.5%;
      overflow-x: hidden;
      scroll-padding-top: 5.5rem;
      scroll-behavior: smooth;   
      
  }
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
  }
  
  header .logo{
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
    text-decoration: none;
  }
  
  header .logo i{
    color: var(--green);
  }
  
  header .navbar a{
    font-size: 1.7rem;
    border-radius:  .5rem;
    padding: .5rem 1.5rem;
    margin: 0 0.5rem;
    text-decoration: none;
    color: var(--light-color);
  }
  
  header .navbar a.active,
  header .navbar a:hover{
    color: #fff;
    background: var(--green);
  }
  
  header .icons i,
  header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
    text-decoration: none;
  }
  
  header .icons i:hover,
  header .icons a:hover{
    color: #fff;
    background: var(--green);
    transform: rotate(360deg);
  }
  
  header .icons #menu-bar{
    display: none;
  }
  
  #search-form{
    position: fixed;
    top: -110%; left: 0;
    height: 100%; width: 100%;
    z-index: 1004;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
  }
  
  #search-form.active{
    top: 0;
  }
  
  #search-form #search-box{
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
  }
  
  #search-form #search-box::placeholder{
    color: #eee;
  }
  
  #search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
  }
  
  #search-form label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
  }
  
  #search-form label:hover{
    color: var(--green);
  }
  
  #search-form #close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem; right: 3rem;
    font-size: 5rem;
  }
   
  section{
    margin-top: 100px;
  }
table{
    margin: 20px;
    margin-top: 100px;
    border: 2px solid black;
}

td{
    width: 25%;
    height: 200px;
    border-top: 2px solid black;
}

td img{
    width: 100%;
	height: 100%;
	object-fit: contain;
}

tr{
    border: 2px solid black;
}

th, td{
    border-right: 2px solid black;
    text-align: center;
}

.tombol-aksi{
    border-right: 0;
}

#popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(6px);
  }
  
  #popup form {
    position: fixed;
      z-index: 9999;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      height: 90%;
      overflow: auto;
      background-color: white;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
      border-radius: 23px;
  }
  
  #popup h2 {
      text-align: center;
      margin-top: 30px;
      font-style: normal;
      font-weight: 800;
      font-size: 36px;
      line-height: 49px;
      letter-spacing: 0.05em;
      color: #0F6292;
  }
  
  h3{
      font-size: 20px;
      color: #192A56;
      font-style: normal;
      font-weight: 700;
  }
  
  #form {
      margin-top: 20px;
      padding-top: 10px;
      margin-left: 50px;
      margin-right: 50px;
      padding-bottom: 10px;
      border-radius: 3px;
      display: flex;
      justify-content: space-between;
      border: 0.5px solid rgba(124, 124, 124, 0.3);
  }
  
  #gambar-form {
      padding-left: 5%;
      flex-basis: 50%;
  }
  
  h3{
    text-align: left;
  }
  
  #gambar-input {
      margin-bottom: 10px;
  }
  
  #upload {
      margin-right: 0;
  }
  
  .gambar-preview {
      width: 250px;
      height: 250px;
      object-fit: contain;
      margin-bottom: 10px;
      border: 1px solid black;
      border-radius: 5px;
  }
  
  #gambar-preview {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin-bottom: 10px;
  }
  
  #deskripsi-form {
      padding-left: 5%;
      padding-right: 5%;
      flex-basis: 50%;
  }
  
  #deskripsi-form label {
      margin-top: 10px;
      font-size: 1.2em;
      color: #0F6292;
  }
  
  #deskripsi-form input,
  #deskripsi-form textarea {
      width: 100%;
      margin-top: 5px;
      padding: 5px;
      box-sizing: border-box;
      border: none;
      border: 1px solid black;
      border-radius: 5px;
      color: black;
      /* resize: none; */
  }
  
  #submit-button {
      margin-top: 20px;
      padding: 8px;
      margin-left: 78%;
      background: #0F6292;
      border-radius: 5px;
      color: white;
      border: none;
      cursor: pointer;
      font-size: 1em;
  }
  
  #tambah-barang {
      padding: 10px;
      background-color: white;
      color: black;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1.2em;
  }
  
  #tambah-barang:focus {
      outline: none;
  }
  

@media (max-width:768px){
    header .icons #menu-bar{
        display: inline-block;
    }
    header .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #fff;
        border-bottom: 1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0,100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    #search-form #search-box{
        width: 90%;
        margin: 0 1rem;
    }
}

@media (max-width:991px){
    html{
        font-size: 50%;
    }
}