@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
}

table {
	margin: 20px;
	border-collapse: collapse;
}

tr{
	border-left: 2px solid gray;
	border-bottom: 2px solid gray ;
}
thead tr{
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
}

tbody tr{
	border-bottom: 2px solid gray;
}

td img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

th, td{
	width: 25%;
	text-align: center;
	border-right: 2px solid gray;
	padding: 10px;
	border: 1px solid black;
  	padding: 8px;
}

td{
	height: 200px;
}

td button {
	width: 75px;
	border-radius: 3px;
	border: 2px solid gray;
}

.tombol-edit{
	margin-bottom: 5px;
}

#popup-tambah {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(6px);
}

#popup-tambah form {
  position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 90%;
    overflow: auto;
    background-color: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
	border-radius: 23px;
}

#popup-tambah h2 {
	text-align: center;
	margin-top: 30px;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 49px;
	letter-spacing: 0.05em;
	color: #0F6292;
}

h3{
	font-size: 20px;
	color: #192A56;
	font-style: normal;
	font-weight: 700;
}

#form {
	margin-top: 20px;
	padding-top: 10px;
	margin-left: 50px;
	margin-right: 50px;
	padding-bottom: 10px;
	border-radius: 3px;
	display: flex;
	justify-content: space-between;
	border: 0.5px solid rgba(124, 124, 124, 0.3);
}

#gambar-form {
	padding-left: 5%;
	flex-basis: 50%;
}

h3{
  text-align: left;
}

#gambar-input {
	margin-bottom: 10px;
}

#upload {
	margin-right: 0;
}

.gambar-preview {
	width: 250px;
	height: 250px;
	object-fit: contain;
	margin-bottom: 10px;
	border: 1px solid black;
	border-radius: 5px;
}

#gambar-preview {
	width: 100%;
	height: 100%;
	object-fit: contain;
	margin-bottom: 10px;
}

#deskripsi-form {
	padding-left: 5%;
	padding-right: 5%;
	flex-basis: 50%;
}

#deskripsi-form label {
	margin-top: 10px;
	font-size: 1.2em;
	color: #0F6292;
}

#deskripsi-form input,
#deskripsi-form textarea {
	width: 100%;
	margin-top: 5px;
	padding: 5px;
	box-sizing: border-box;
	border: none;
	border: 1px solid black;
	border-radius: 5px;
	color: black;
	/* resize: none; */
}

#submit-button {
	margin-top: 20px;
	padding: 8px;
	margin-left: 78%;
	background: #0F6292;
	border-radius: 5px;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 1em;
}

#tambah-barang {
	padding: 10px;
	background-color: white;
	color: black;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.2em;
}

#tambah-barang:focus {
	outline: none;
}
