@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');
:root{
--green: #0F6292;
--black: #192a56;
--light-color: #666;
--box-shadow:0 5rem 1.5rem rgba(0,0,0,.1);
}

*{
font-family: 'Nunito', sans-serif;
margin: 0; padding: 0;
box-sizing: border-box;
text-decoration: none;
outline: none;
border: none;
text-transform: capitalize;
transition: all .2s linear;
}



html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;   
    
}

header{
position: fixed;
top: 0; left: 0; right: 0;
background: #fff;
padding: 1rem 7%;
display: flex;
align-items: center;
justify-content: space-between;
z-index: 1000;
box-shadow: var(--box-shadow);
}

header .logo{
color: var(--black);
font-size: 2.5rem;
font-weight: bolder;
text-decoration: none;
}

header .logo i{
color: var(--green);
}

header .navbar a{
font-size: 1.7rem;
border-radius:  .5rem;
padding: .5rem 1.5rem;
margin: 0 0.5rem;
text-decoration: none;
color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
color: #fff;
background: var(--green);
}

header .icons i,
header .icons a{
cursor: pointer;
margin-left: .5rem;
height: 4.5rem;
line-height: 4.5rem;
width: 4.5rem;
text-align: center;
font-size: 1.7rem;
color: var(--black);
border-radius: 50%;
background: #eee;
text-decoration: none;
}

header .icons i:hover,
header .icons a:hover{
color: #fff;
background: var(--green);
transform: rotate(360deg);
}

header .icons #menu-bar{
display: none;
}

#search-form{
position: fixed;
top: -110%; left: 0;
height: 100%; width: 100%;
z-index: 1004;
background: rgba(0,0,0,.8);
display: flex;
align-items: center;
justify-content: center;
padding: 0 1rem;
}

#search-form.active{
top: 0;
}

#search-form #search-box{
width: 50rem;
border-bottom: .1rem solid #fff;
padding: 1rem 0;
color: #fff;
font-size: 3rem;
text-transform: none;
background: none;
}

#search-form #search-box::placeholder{
color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button{
-webkit-appearance: none;
}

#search-form label{
color: #fff;
cursor: pointer;
font-size: 3rem;
}

#search-form label:hover{
color: var(--green);
}

#search-form #close{
position: absolute;
color: #fff;
cursor: pointer;
top: 2rem; right: 3rem;
font-size: 5rem;
}


.judul {
    text-align: center;
    width: 40%;
    height: 49px;
    padding: 0;
    margin: 100px 30% 0 30%;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: #0F6292;
}

.barang-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 140px 0 140px;
}

.barang-card {
    padding: 10px;
    width: calc(33.33% - 40.5px);
    margin-bottom: 30px;
    text-align: center;
    /* position: relative; */
    background: #D9D9D9;
    box-shadow: 0px 4px 15px;
    border-radius: 11px;
}
.barang-card a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #eee;
    float: right;
    text-decoration: none;
    color: #333;
}
.barang-card img {
    width: 100%;
    height: auto;
    clear: both;
}

.barang-card h4 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #0F6292;
    float: left;
}

.barang-card .rating {
    clear: both;
    float: left;
}

.barang-card .buy-box {
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 15px;
    width: 60px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-radius: 3px;
    background-color: #0F6292;
    clear: both;
    float: left;
    color: #fff;
}


.barang-card .harga {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    float: right;
    color: #0F6292;
}

.load{
    margin: 0 auto;
    background-color: #0F6292;
    width: 150px;
    border-radius: 8px;
    padding: 10px;
}

.load a{
    font-family: "Nunito";
    text-decoration: none;
    font-size: 24px;
    color: #fff;
}

.load p{
    text-align: center;
}

.sub-judul {
    text-align: center;
    width: 80%;
    height: 49px;
    padding: 0;
    margin: 0px 10% 0 10%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: #1E3050;
    font-weight: bold;
}

.tentang-kami{
    background-color: #E5E5E5;
    padding: 30px 140px;
    margin-top: 50px;
    padding-bottom: 100px;
}

.judul-info{
    margin: 20px;
}

.judul-info .judul{
    margin-top: 10px;
}

.cerita {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.gambar-cerita{
    flex-basis: 40%;
}

.isi-cerita{
    flex-basis: 60%;
}

.isi-cerita .sub-judul{
    text-align: left;
    font-weight:bold;
    margin-bottom: 10px;
}

.isi-cerita p{
    text-align: left;
    width: 90%;
    padding: 0;
    margin: 0 0 0 10%;
    font-family: 'Nunito';
    font-style: normal;
    font-size: 20px;
    color: black;
    line-height: 40px;
}

footer{
    background-color: #0F6292;
    color: white;
}

footer .judul {
    color: white;
    font-size: 22px;
    width: 100%;
    margin: 0;
}

.info {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.satu-info {
    flex-basis: 25%;
    margin: 0;
}

footer p {
    width: 100%;
    text-align: center;
    margin: 0;
}

footer ul{
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-size: 1.5rem;
}

.copy{
    margin-top: 40px;
    text-align: center;
    font-size: 12px;
    padding-bottom: 10px;
}




@media (max-width:991px){
    html{
        font-size: 55%;
    }

    header{
        padding: 1rem 2rem;
    }
}

@media (max-width:768px){
    header .icons #menu-bar{
        display: inline-block;
    }
    header .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #fff;
        border-bottom: 1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0,100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    #search-form #search-box{
        width: 90%;
        margin: 0 1rem;
    }
}

@media (max-width:991px){
    html{
        font-size: 50%;
    }
}
