<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>E-Waste Shop</title>
    <link rel="shortcut icon" type="image" href="/gambar/IMG_0978.PNG">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="static/styleMenu.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">
    <link rel="stylesheet" href="C:\Users\Asus\Downloads\New folder\magnifying-glass-solid.svg">
</head>
<body>
  <header>
    <a href="#" class="logo"><i class="fas fa-trash"></i>waste.</a>
    <nav class="navbar">
      <a class="active" href="#start">Produk</a>
      <a href="/toko" id="penjualan-show">Penjualan</a>
      <a href="/about">about</a>
    </nav>
    <div class="icons">
      <i class="fas fa-bars" id="menu-bars"></i>
      <i class="fas fa-search" id="search-icon"></i>
      <a onclick="location.href='/logout'" class="fas fa-heart"></a>
      <a href="#" class="fas fa-shopping-cart"></a>
    </div>
  </header>
  <!-- awal dari section -->
  <section id="start">
    <div class="judul">PENAWARAN TERBAIK</div>
    <div class="barang-container">
      {% for satuData in semuaData %}
      <button class="barang-card" onclick="location.href='/detail/{{satuData[4]}}'">
        <a href="/suka/{{satuData[4]}}"><img src="{{ url_for('static', filename='image/suka.png') }}" alt="suka" style="max-width: 50%; height: 50%;"></a>
        <div class="kotak-gambar">
          <img src="data:image/png;base64,{{ satuData[0] }}" alt="barang"/>
        </div>
        <h4>{{satuData[1]}}</h4>
        <div class="rating">4.5/5</div>
        <div class="buy-box">
          <p>Buy</p>
        </div>
        <p class="harga">{{satuData[2]}}</p>
      </button>
      {% endfor %}

    </div>

    <div class="load">
      <p><a href="#">Load More</a></p>
    </div>
    
    <div class="tentang-kami">
      <div class="judul-info">
        <div class="judul">TENTANG KAMI</div>
        <div class="sub-judul">Layanan Pengelolaan Sampah Masyarakat</div>
      </div>
      <div class="cerita">
        <div class="gambar-cerita">
          <img src="{{ url_for('static', filename='image/gambar_cerita.png') }}" alt="Save Earth" style="width: 100%;">
        </div>
        <div class="isi-cerita">
          <div class="sub-judul">E-Waste Shop</div>
          <p>Merupakan sebuah layanan yang kami siapkan untuk memenuhi kebutuhan masyarakat dalam pemanfaatan sampah elektronik bekas. Problematika yang akan diselesaikan oleh layanan ini adalah membantu masyarakat dalam menjual sampah elektronik yang sudah tidak terpakai dengan harga yang lebih layak.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- akhir dari section -->
  <footer>
    <div class="info">
      <div class="satu-info">
        <div class="judul">Location</div>
        <ul>
          <p>Indonesia</p>
          <p>Japan</p>
          <p>Malaysia</p>
          <p>USA</p>
        </ul>
      </div>
      <div class="satu-info">
        <div class="judul">Quick Links</div>
        <ul>
          <p>Login</p>
          <p>Produk</p>
          <p>Penjualan</p>
          <p>About</p>
        </ul>
      </div>
      <div class="satu-info">
        <div class="judul">Contact Info</div>
        <ul>
          <p>+62-823-4483-4344</p>
          <p>defan@gmail.com</p>
        </ul>
      </div>
      <div class="satu-info">
        <div class="judul">Follow Us</div>
        <ul>
          <p>Instagram</p>
          <p>Facebook</p>
          <p>Twitter</p>
        </ul>
      </div>
    </div>
    <div class="copy">Copyright @ 2023 By Kelompok 2</div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>