<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>E-Waste Shop</title>
    <link rel="shortcut icon" type="image" href="/gambar/IMG_0978.PNG">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="static/styleMenu.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/styleOrderan.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">
    <link rel="stylesheet" href="C:\Users\Asus\Downloads\New folder\magnifying-glass-solid.svg">
</head>
<body>
  <header>
    <a href="#" class="logo"><i class="fas fa-trash"></i>waste.</a>
    <nav class="navbar">
      <a href="#keranjang">Produk</a>
      <a href="/toko" id="penjualan-show">Penjualan</a>
      <a href="#about">About</a>
    </nav>
    <div class="icons">
      <i class="fas fa-bars" id="menu-bars"></i>
      <i class="fas fa-search" id="search-icon"></i>
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-shopping-cart"></a>
    </div>
  </header>
  <!-- awal dari section -->
<div class="judul">DAFTAR PESANAN</div><br><br><br>

<div class="site-section">
  <div class="container pb-5">
    <table class="table table-striped table-hover style-table">
      <thead class="table-primary">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nama Lengkap</th>
          <th scope="col">Alamat</th>
          <th scope="col">No HP</th>
          <th scope="col">Nama Produk</th>
          <th scope="col">Catatan</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>banda</td>
          <td>8531273581</td>
          <td>tv</td>
          <td>diantar</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Mark</td>
          <td>banda</td>
          <td>8531273581</td>
          <td>tv</td>
          <td>diantar</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Mark</td>
          <td>banda</td>
          <td>8531273581</td>
          <td>tv</td>
          <td>diantar</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
    
    <!-- akhir dari section -->
    <footer>
      <div class="info">
        <div class="satu-info">
          <div class="judul">Quick Links</div>
          <ul>
            <p>Login</p>
            <p>Produk</p>
            <p>Penjualan</p>
            <p>About</p>
          </ul>
        </div>
        <div class="satu-info">
          <div class="judul">Location</div>
          <ul>
            <p>Indonesia</p>
            <p>Japan</p>
            <p>Malaysia</p>
            <p>USA</p>
          </ul>
        </div>
        <div class="satu-info">
          <div class="judul">Follow Us</div>
          <ul>
            <p>Instagram</p>
            <p>Facebook</p>
            <p>Twitter</p>
          </ul>
        </div>
        <div class="satu-info">
          <div class="judul">Contact Info</div>
          <ul>
            <p>Kopelma Darussalam Syiah Kuala Jalan Teungku Syech Abdur Rauf, Kota Pelajar Mahasiswa No.7, Kopelma Darussalam, Kec. Syiah Kuala, Kota Banda Aceh, Aceh 24415</p>
          <p>+62-823-4483-4344</p>
          <p>Kelompok2RPL@usk.ac.id</p>
        </ul>
      </div>
    </div>
    <div class="copy">Copyright @ 2023 By Kelompok 2</div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>