<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>E-Waste Shop</title>
    <link rel="shortcut icon" type="image" href="/gambar/IMG_0978.PNG">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/stylePembayaran.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">
    <link rel="stylesheet" href="C:\Users\Asus\Downloads\New folder\magnifying-glass-solid.svg">
</head>
<body>
  <header>
    <a href="#" class="logo"><i class="fas fa-trash"></i>waste.</a>
    <nav class="navbar">
      <a href="#keranjang">Produk</a>
      <a href="/toko" id="penjualan-show">Penjualan</a>
      <a href="#about">about</a>
    </nav>
    <div class="icons">
      <i class="fas fa-bars" id="menu-bars"></i>
      <i class="fas fa-search" id="search-icon"></i>
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-shopping-cart"></a>
    </div>
  </header>
  <!-- awal dari section -->
  <section>
    <div class="judul">PEMBAYARAN</div><br><br><br>
    <!-- <div class="judul">PEMBAYARAN</div>
    <div class="container">
      <div class="mb-3">
        <label for="" class="form-label">Nama Lengkap </label>
        <input type="text" class="form-control" id="" value="aa">
      </div>
      <div class="mb-3 pt-2">
        <label for="" class="form-label">Kota</label>
        <input type="text" class="form-control" id="" placeholder="Masukkan Kota">
      </div>
      <div class="mb-3 pt-2">
        <label for="" class="form-label">Alamat</label>
        <input type="text" class="form-control" id="" placeholder="Alamat Jalan"><br>
        <input type="text" class="form-control" id="" placeholder="Detail Alamat (Optional)">
      </div>
      <div class="mb-3 pt-2">
        <label for="" class="form-label">No Telepon/WhatsApp</label>
        <input type="text" class="form-control" id="" placeholder="Masukkan No Telepon/WhatsApp">
      </div>
    </div>
    </div> -->
    <div class="site-section">
      <div class="container">
        <!-- <div class="row mb-5">
          <div class="col-md-12">
            <div class="border p-4 rounded" role="alert">
              Returning customer? <a href="#">Click here</a> to login
            </div>
          </div>
        </div> -->
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <h2 class="h3 mb-3 text-black">Informasi Pengiriman</h2>
            <div class="p-3 p-lg-5 border">
              
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_fname" class="text-black">Nama Lengkap<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_fname" name="c_fname" placeholder="Masukkan Nama" required>
                </div>
                <!-- <div class="col-md-6">
                  <label for="c_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_lname" name="c_lname">
                </div> -->
              </div>



              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_address" class="text-black">Alamat <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_address" name="c_address" placeholder="Masukkan Alamat">
                </div>
              </div>
<!-- 
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Apartment, suite, unit etc. (optional)">
              </div> -->


              <div class="form-group row mb-5">
                <div class="col-md-12">
                  <label for="c_phone" class="text-black">No Hp <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_phone" name="c_phone" placeholder="No. Telp / Whatsapp">
                </div>
              </div>

              <!-- <div class="form-group">
                <label for="c_create_account" class="text-black" data-toggle="collapse" href="#create_an_account" role="button" aria-expanded="false" aria-controls="create_an_account"><input type="checkbox" value="1" id="c_create_account"> Create an account?</label>
                <div class="collapse" id="create_an_account">
                  <div class="py-2">
                    <p class="mb-3">Create an account by entering the information below. If you are a returning customer please login at the top of the page.</p>
                    <div class="form-group">
                      <label for="c_account_password" class="text-black">Account Password</label>
                      <input type="email" class="form-control" id="c_account_password" name="c_account_password" placeholder="">
                    </div>
                  </div>
                </div>
              </div> -->


              

              <div class="form-group">
                <label for="c_order_notes" class="text-black">Catatan Orderan</label>
                <textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control" placeholder="Tuliskan Catatan disini..."></textarea>
              </div>

            </div>
          </div>
          <div class="col-md-6">

            <!-- <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Coupon Code</h2>
                <div class="p-3 p-lg-5 border">
                  
                  <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>
                  <div class="input-group w-75">
                    <input type="text" class="form-control" id="c_code" placeholder="Coupon Code" aria-label="Coupon Code" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary btn-sm" type="button" id="button-addon2">Apply</button>
                    </div>
                  </div>

                </div>
              </div>
            </div> -->
            
            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Detail Order</h2>
                <div class="p-3 p-lg-5 border">
                  <table class="table site-block-order-table mb-5">
                    <thead>
                      <th>Produk</th>
                      <th>Total</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{semuaData[1]}} <strong class="mx-2">x</strong>   1</td>
                        <td>{{semuaData[2]}}</td>
                      </tr>
                      <tr>
                        <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                        <td class="text-black font-weight-bold"><strong>{{semuaData[2]}}</strong></td>
                      </tr>
                    </tbody>
                  </table>

                  
                  <div class="form-group">
                    <button id="order" class="btn btn-primary btn-lg py-3 btn-block">Masukkan Orderan</button>
                  </div>
                  
                  <!-- <div id="popup" class="popup">
                    <div class="konten-popup">
                      <h3 class="judul-popup">TerimaKasih Sudah Memesan Barang</h3>
                      <div class="tombol-popup">
                        <button onclick="location.href='/hapus_barang/{{semuaData[4]}}'" class="tombol-1" type="button">Ok</button>
                      </div>
                    </div>
                  </div> -->

                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- </form> -->
      </div>
    </div>
  </section>
  <!-- akhir dari section -->
  <div id="container-popup">
    <div class="popup" id="popup">
        <img src="/static/image/check.png" alt="">
        <h2>Terimakasih</h2>
        <p>Pembayaran Anda Berhasil!</p>
        <button onclick="location.href='/hapus_barang/{{semuaData[4]}}'" type="button">Ok</button>
    </div>
  </div>
  <footer>
    <div class="info">
      <div class="satu-info">
        <div class="judul">Quick Links</div>
        <ul>
          <p>Login</p>
          <p>Produk</p>
          <p>Penjualan</p>
          <p>About</p>
        </ul>
      </div>
      <div class="satu-info">
        <div class="judul">Location</div>
        <ul>
          <p>Indonesia</p>
          <p>Japan</p>
          <p>Malaysia</p>
          <p>USA</p>
        </ul>
      </div>
      <div class="satu-info">
        <div class="judul">Follow Us</div>
        <ul>
          <p>Instagram</p>
          <p>Facebook</p>
          <p>Twitter</p>
        </ul>
      </div>
      <div class="satu-info">
        <div class="judul">Contact Info</div>
        <ul>
          <p>Kopelma Darussalam Syiah Kuala Jalan Teungku Syech Abdur Rauf, Kota Pelajar Mahasiswa No.7, Kopelma Darussalam, Kec. Syiah Kuala, Kota Banda Aceh, Aceh 24415</p>
          <p>+62-823-4483-4344</p>
          <p>Kelompok2RPL@usk.ac.id</p>
        </ul>
      </div>
    </div>
    <div class="copy">Copyright @ 2023 By Kelompok 2</div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script>
    const orderBtn = document.getElementById("order");
    const popup = document.getElementById('container-popup');

    orderBtn.addEventListener('click', function() {
      popup.style.display = 'flex';
    });
  </script>
</body>
</html>