<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styleMenu.css">
    <link rel="stylesheet" href="/static/keranjangStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Keranjang</title>
</head>
<body>
    <header>
        <a href="#" class="logo"><i class="fas fa-trash"></i>waste.</a>
        <nav class="navbar">
          <a class="active" href="#start">Produk</a>
          <a href="/toko" id="penjualan-show">Penjualan</a>
          <a href="#about">about</a>
        </nav>
        <div class="icons">
          <i class="fas fa-bars" id="menu-bars"></i>
          <i class="fas fa-search" id="search-icon"></i>
          <a onclick="location.href='/profile'" class="fas fa-user"></a>
          <a href="/pesanan" class="fas fa-shopping-cart"></a>
        </div>
      </header>
    <div class="table">
        <div class="table_header">
            <p>Daftar Barang Dalam Proses Pengiriman</p>
            <div>
                <input type="text" placeholder="Cari">
                <button class="cari">Cari</button>
            </div>
        </div>
        <div class="table_section">
            <table>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Produk</th>
                        <th>Nama</th>
                        <th>Jumlah</th>
                        <th>Owner</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for satuData in data %}
                    <tr>
                        <td>{{data.index(satuData)+1}}</td>
                        <td><img src="data:image/png;base64,{{ satuData[3] }}" alt=""></td>
                        <td>{{satuData[4]}}</td>
                        <td>1 Buah</td>
                        <td>{{satuData[1]}}</td>
                        <td>
                            <button><i class="fas fa-check"></i></button>
                            <button><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    {% endfor %}
                    <!-- <tr>
                        <td>2</td>
                        <td><img src="/static/image/baut 1.png" alt=""></td>
                        <td>Camera</td>
                        <td>1 Buah</td>
                        <td>Ajibul</td>
                        <td>
                            <button><i class="fas fa-check"></i></button>
                            <button><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><img src="/static/image/kotak 1.png" alt=""></td>
                        <td>Camera</td>
                        <td>1 Buah</td>
                        <td>Ajibul</td>
                        <td>
                            <button><i class="fas fa-check"></i></button>
                            <button><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><img src="/static/image/bolts-nuts 1.png" alt=""></td>
                        <td>Camera</td>
                        <td>1 Buah</td>
                        <td>Ajibul</td>
                        <td>
                            <button><i class="fas fa-check"></i></button>
                            <button><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><img src="/static/image/jam 2.png" alt=""></td>
                        <td>Camera</td>
                        <td>1 Buah</td>
                        <td>Ajibul</td>
                        <td>
                            <button><i class="fas fa-check"></i></button>
                            <button><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td><img src="/static/image/jam 2.png" alt=""></td>
                        <td>Camera</td>
                        <td>1 Buah</td>
                        <td>Ajibul</td>
                        <td>
                            <button><i class="fas fa-check"></i></button>
                            <button><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td><img src="/static/image/jam 2.png" alt=""></td>
                        <td>Camera</td>
                        <td>1 Buah</td>
                        <td>Ajibul</td>
                        <td>
                            <button><i class="fas fa-check"></i></button>
                            <button><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td><img src="/static/image/jam 2.png" alt=""></td>
                        <td>Camera</td>
                        <td>1 Buah</td>
                        <td>Ajibul</td>
                        <td>
                            <button><i class="fas fa-check"></i></button>
                            <button><i class="fas fa-trash"></i></button>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>