<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>E-Waste Shop</title>
    <link rel="shortcut icon" type="image" href="/gambar/IMG_0978.PNG">
    <link rel="shortcut icon" type="image" href="/gambar/IMG_0978.PNG">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="static/styleMenu.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">
    <link rel="stylesheet" href="C:\Users\Asus\Downloads\New folder\magnifying-glass-solid.svg">
    <link rel="stylesheet" type="text/css" href="static/styleToko.css">

</head>
<body>
  <header>
    <a href="#" class="logo"><i class="fas fa-trash"></i>waste.</a>
    <nav class="navbar">
      <a href="#start">Produk</a>
      <a class="active" href="/toko" id="penjualan-show">Penjualan</a>
      <a href="#about">about</a>
    </nav>
    <div class="icons">
      <i class="fas fa-bars" id="menu-bars"></i>
      <i class="fas fa-search" id="search-icon"></i>
      <a onclick="location.href='/profile'" class="fas fa-user"></a>
      <a href="/pesanan" class="fas fa-shopping-bag"></a>
    </div>
  </header>

  <div class="judul">PRODUK SAYA</div>
  <button id="tambah-barang">Tambah Barang</button>
  <!-- <form action="toko/edit_barang" method="POST"></form> -->
    {% if semuaData %}
      <table id="tabl">
        <thead>
          <tr>
            <th class="judul-gambar">Gambar</th>
            <th>Nama</th>
            <th>Harga</th>
            <th>Deskripsi</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for satuData in semuaData %}
            <tr>
              <td><img src="data:image/png;base64,{{ satuData[0] }}" alt=""/></td>
              <td><p>{{ satuData[1] }}</p></td>
              <td><p>{{ satuData[2] }}</p></td>
              <td><p>{{ satuData[3] }}</p></td>
              <td>
                <button class="editBtn" onclick="location.href='/edit/{{satuData[4]}}'">Edit</button>
                <button class="hapusBtn" >Hapus</button>
                <div id="popup" class="popup">
                  <div class="konten-popup">
                    <h3 class="judul-popup">Apakah anda yakin?</h3>
                    <div class="tombol-popup">
                      <button class="tombol-1" onclick="location.href='/hapus/{{satuData[4]}}'">Yakin</button>
                      <button onclick="closePopup()" class="tombol-2">Cancel</button>
                    </div>
                  </div>
                </div>
              </td>
            </tr> 
          {% endfor %}
        </tbody>
      </table>
	  {% endif %}
    <!-- </form> -->

    <div id="popup-tambah">
      <form method="POST" enctype="multipart/form-data">
        <h2>PENJUALAN2</h2>
        <div id="form">
          <div id="gambar-form">
            <h3>Gambar Barang</h3>
            <input type="file" id="gambar-input" name="gambar">
            <div class="gambar-preview"><img id="gambar-preview" name="gambar" alt=""></div>
          </div>
          <div id="deskripsi-form">
            <h3>Deskripsi Barang</h3>
            <label for="nama-input">Nama Barang:</label>
            <input class="nama-input" type="text" id="nama-input" name="nama" required>
            <!-- <input class="form-control" name="username" type="text" placeholder="username" aria-label="username" required> -->
    
            <label for="harga-input">Harga Barang:</label>
            <input type="text" id="harga-input" name="harga">
    
            <label for="deskripsi-input">Deskripsi Barang:</label>
            <textarea id="deskripsi-input" name="deskripsi"></textarea>
            <button id="submit-button" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script>
      var buttons = document.querySelectorAll('.hapusBtn');
      var popups = document.querySelectorAll('.popup');
      var closeButtons = document.querySelectorAll('.tombol-2');
      const editBtn = document.getElementById("tombol-edit");
      const tambahBarangBtn = document.getElementById("tambah-barang");
      const popup_edit = document.getElementById("popup-edit");
      const popup_tambah = document.getElementById("popup-tambah");
      const gambarInput = document.getElementById("gambar-input");
      const gambarPreview = document.getElementById("gambar-preview");
      const namaInput = document.getElementById("nama-input");
      const hargaInput = document.getElementById("harga-input");
      const deskripsiInput = document.getElementById("deskripsi-input");
      const submitButton = document.getElementById("submit-button");


      for (var i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', function(event) {
          event.target.nextElementSibling.style.display = 'flex';
        });
      }

      for (var i = 0; i < closeButtons.length; i++) {
        closeButtons[i].addEventListener('click', function(event) {
          event.target.parentElement.parentElement.parentElement.style.display = 'none';
        });
      }

      window.addEventListener('click', function(event) {
        for (var i = 0; i < popups.length; i++) {
          if (event.target == popups[i]) {
            popups[i].style.display = 'none';
          }
        }
      });

      tambahBarangBtn.addEventListener("click", function() {
        popup_tambah.style.display = "block";
        body.style.background = "black"
      });
      
      popup_tambah.addEventListener('click', function(event) {
        if (event.target === this) {
        // event berasal dari elemen induk (popup), bukan dari elemen di dalamnya
        popup_tambah.style.display = 'none';
      }
      });

      gambarInput.addEventListener("change", function() {
        const file = this.files[0];
        if (file) {
          const reader = new FileReader();
          reader.addEventListener("load", function() {
            gambarPreview.setAttribute("src", this.result);
          });
          reader.readAsDataURL(file);
        }
      });

      
    </script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script>
      var rupiahInput = document.getElementById('harga-input');
      rupiahInput.addEventListener('input', function(e) {
        // Menghilangkan semua karakter kecuali angka
        var input = e.target.value.replace(/\D/g, '');
  
        // Format input menjadi format Rupiah
        var formattedInput = 'Rp ' + numeral(input).format('0,0');
  
        // Set nilai input dengan format Rupiah
        rupiahInput.value = formattedInput;
      });
    </script> 
</body>
</html>